/* HeroDetailComponent's private CSS styles */
p{
    padding: 0;
    margin: 0;
}

h4{
  margin: 0;
  padding: 0.5rem;
}

label {
    color: #435960;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  button {
    margin-top: 20px;
    margin-right: .5rem;
    background-color: #eee;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom:1px solid #c6ccce;
    border-right: 1px solid #c6ccce;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    font-size: 1rem;
    box-shadow: 4px 8px 15px rgb(212, 216, 220);
  }
  button:hover {
    background-color: #cfd8dc;
    border-top: 2px solid #979d9f;
    border-left: 2px solid #979d9f;
    border-bottom:1px solid white;
    border-right: 1px solid white;
    /* border-top-left-radius: 40%;
    border-bottom-left-radius: 40%; */
    box-shadow:none ;
    transition: all 0.3s;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  
  .hero-power{
    color: rgb(19, 88, 134);
  }

  .display-row{
    display: flex;
    flex-direction: row;
  }