
<h3 class="highlight">Hero Details Component</h3>
<div *ngIf="heroDetails" class="hero-plate">

  <div class="display-row">
    <h2>Name: {{heroDetails.name | uppercase}} </h2>
    <h4><span>id: </span>{{heroDetails.id}}</h4>
  </div>
    <p>details</p>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="heroDetails.name" placeholder="name">
    <h3 class="hero-power">Power: <span>{{heroDetails.power}}</span></h3>
    
  </div>
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="save()">save</button>
</div>