<h2>Top Heroes</h2>
<div class="heroes-menu">
    <a 
    #checkValue
    (click)="getOneHeroDetails(checkValue)"
    (click)="toggleDiv.className !== 'hidden' && sameCardCheck === true ? toggleDiv.classList.toggle('hidden') : toggleDiv.classList.add('transparent')"
    *ngFor="let hero of heroes"
    routerLink="/dashboard/{{hero.name}}"
    >
    {{hero.name}}
  </a>
</div>
<h1 [ngClass]="sameCardCheck === false? 'blue' : 'red'"
 
> the same hero card was clicked sameCardCheck IS TRUE</h1> 
<div  #toggleDiv [ngClass]="sameCardCheck === false? '' : 'hidden'"
>
  <router-outlet ></router-outlet>
</div>

<!-- [ngClass]="sameCardCheck === true ? 'hidden' : 'blue'" -->

<!-- router Link :  -->
<!-- routerLink="/details/{{hero.id}}/{{hero.name}}" -->

<!-- <h2>Top Heroes</h2>
<div class="heroes-menu">
  <a *ngFor="let hero of heroes">
    {{hero.name}}
  </a>
</div> -->